body{
    user-select: none;
}
.line-item{
    display: flex;
}
.line-item div{
    width: 80px;
    height: 60px;
}
.line-item button{
    box-shadow: 0 0 1px 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: serif;
    font-size: 20px;
    font-weight: 700;
}
.line-item button:hover{
    
    background: #F2F2F2;
}
.right:last-child div{
    max-width: 33%;
    background: red;
    
}
.split-up button, .multiply button, .minus button, .plus button, .equally button{
    background: rgba(255, 102, 0, 0.836);
}
.split-up button:hover, .multiply button:hover, .minus button:hover, .plus button:hover, .equally button:hover{
    background: rgba(228, 91, 0, 0.836);
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
    float: right;
    
    z-index: 0;
}
.right input{
    width: 320px;
    box-shadow: 0 0 1px 0;
    height: 60px;
    font-size: 40px;
}
input{
    text-align: right;
    padding:0 10px;
}
.settings{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px 0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings:hover{
    background-color: rgb(185, 185, 185);
}
.settings i{
    font-size: 33px;
}
.popup-wrapper{
    
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup{
    max-width: 90%;
    position: relative;
    width: 700px;
    height: 500px;
    background: white;
    box-shadow: 0 0 10px 0;
    opacity: 0;
    transition: 500ms;
    border-radius: 10px;
    
}
.popup-active{
    opacity: 1;
}
.menu{
    position: absolute;
    width: 20%;
    height: 90%;
    left: 20px;
    border: 1px solid #000;
    
}
.exit{
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}
.exit img{
    width: 30px;
    height: 30px;
}
/* body *{
    border: 1px solid #000;
} */